* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 300px; 
  position: relative;
  margin: auto;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.text {
  color: #e42b2b;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.show-img {
  height: 200px;
  width: 150px;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.review-people{
  color: black;
  text-align: center;
}
.new-dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



.flip-box {
  background-color: transparent;
  width: 500px;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  padding: 2%;
  margin-bottom: 10%;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: white;
  color: black;
}

.flip-box-back {
  background-color: rgb(46, 158, 70);
  color: white;
  transform: rotateY(180deg);
}

.repair-set{
  text-align: center;
  padding: 20px;
}

.top-item-style{
  padding-top: 5%;
  text-align: center;
    
}
.vl-line{
    border-left: 4px solid white;
    height: 50px;
    display:inline-block;
    padding: 2%;
  
}
.list-item-style{
  text-align: center;
  color: white;
}



.img-item-style{
  width: 80px;
  height: 60px;
  padding-bottom: 5%;
}

.hidden1 {
  display: none;
}
.hidden2 {
  display: none;
}
.hidden3 {
  display: none;
}
.hidden4 {
  display: none;
}
.hidden5 {
  display: none;
}
.hidden6 {
  display: none;
}

.item-style a:link, a:visited {
  color: white;
  padding: 5px 25px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
}


.checked {
  color: white;
  padding: 5px 25px;

}

.testimonial-area{
  padding: 180px 0;
  position: relative;
}
.testimonial-area::before{
  position: absolute;
  content: '';
}
.single-testimonial{
  color: #fff;
  padding-left: 75px;
  position: relative;
  margin: 0 15px 15px;
}

.img-area{
  border-radius: 50%;
  height: 150px;
  left: 0;
  margin-top: -75px;
  top: 50%;
  width: 150px;
  position: absolute;
}

.testi-text{
  padding: 40px 20px 40px 100px;
  background: rgb(40, 241, 50);
  color: #262626;
  
}
.img-area >img{
  background: linear-gradient(to bottom, darkcyan, white);
  border-radius: 50%;
  padding: 5px;
}

.testi-text h4{
  font-size: 30px;
  margin-bottom: 30px;
}
.testi-text h4 span{
  display: block;
  font-size: 14px;
}
.testi-text p{
  line-height: 25px;
  font-size: 18px;
}
.single-testimonial:hover .testi-text{
  background: #fff;
  transition: 0.9s;
}

.testimonial-area div.owl-nav{
  color: #FFFF4A;
  display: inline-block;
  font-size: 55px;
  height: 60px;
  margin-top: -30px;
  text-align: center;
  transition: 0.3s;
}

.owl-prev, .owl-next{
  position: absolute;
}

.owl-prev{
  left: -20px;
  top: 100px;
}
.owl-next{
  right: -20px;
  top: 100px;
}